{
    "extends": ["react-app", "prettier"],
    "plugins": ["react", "prettier"],
    "rules": {
      "prettier/prettier": [
        "warn",
        {
          "arrowParens": "avoid",
          "semi": false,
          "trailingComma": "none",
          "endOfLine": "lf",
          "tabWidth": 1,
          "printWidth": 120,
          "useTabs": false,
          "singleQuote": true,
          "jsxSingleQuote": false
        }
      ],
      "no-console": "warn"
    }
  }