@font-face {
  font-family: 'Noto Sans KR';
  src: url(../fonts/NotoSansKR-Thin.otf), url(../fonts/NotoSansKR-Regular.otf), url(../fonts/NotoSansKR-Medium.otf),
    url(../fonts/NotoSansKR-Light.otf), url(../fonts/NotoSansKR-Bold.otf), url(../fonts/NotoSansKR-Black.otf);
}

@import './variables.scss';

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
