// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors
$black-common: #2c333a;
$border-grey: #d9d9d9;
$color-title: #111111;
$background: #f8f9fe;
$white-basic: #fff;
$grey-e9: #e9ecef;
$grey-9a: #9a9a9a;
$grey-74: #747274;
$grey-de: #dee2e6;
$grey-88: #8898aa;
$grey-f7: #f7f7f7;
$grey-65: #656565;
$grey-d9: #d9d9d9;
$white-basic: #ffffff;
$black-basic: #000000;
$greyAA: #aaaaaa;
$redF7: #ff7f7c;
$grey74: #747274;
$grey63: #636363;
$greyB1: #b1b1b1;
$black-1F: #1f1e25;
$grey-400: #757575;
$grey-300: #d2d2d2;
$blue-900: #0057ff; 